/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*phone styles*/
#banner {
  background: dimgray;
  width: 100%;
  height: 70vh;
  background-image: url("../images/landing/banner.jpg");
  background-size: cover;
  background-position-x: -120px;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
#banner nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#banner nav .hamburger {
  height: 30px;
  width: 30px;
  border: 2px solid brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#banner nav .hamburger .line {
  height: 2px;
  width: 70%;
  background: brown;
}
#banner .pc-nav {
  display: none;
}

#why {
  background: white;
  padding: 3rem 0;
  width: 100%;
}
#why .container .row .left img {
  width: 100%;
}
#why .container .row .left .whyCards {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: -1rem;
}
#why .container .row .left .whyCards .card {
  width: 30%;
  height: 10vh;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: brown;
  border: 3px solid white;
}
#why .container .row .left .whyCards .card p {
  font-weight: 500;
}
#why .container .row .right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
#why .container .row .right .text {
  font-weight: 500;
}
#why .container .row .right .text span {
  color: rgb(164, 15, 30);
}
#why .container .row .right .btn {
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 20px;
  border: 3px solid rgb(164, 15, 30);
  border-radius: 0;
}
#why .container .row .right .btn a {
  color: rgb(164, 15, 30);
  font-weight: 600;
  text-decoration: none;
}

.chido .container {
  background: brown;
}
.chido .container .div {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.images {
  padding: 2rem 0;
}
.images .container .row {
  color: white;
}
.images .container .row .left {
  background-color: brown;
  color: white;
  padding: 1%;
}

.imgz {
  display: flex;
  flex-direction: row;
}
.imgz .photo1 {
  background-image: url("../images/landing/project 1.jpg");
  width: 55%;
  height: 25vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid brown;
  display: flex;
  align-items: last baseline;
  padding: 20px;
}
.imgz .photo2 {
  background-image: url("../images/landing/project 2.jpg");
  width: 55%;
  height: 25vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid brown;
  display: flex;
  align-items: last baseline;
  padding: 20px;
}
.imgz .photo3 {
  background-image: url("../images/landing/project 3.jpg");
  width: 55%;
  height: 25vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid brown;
  display: flex;
  padding: 20px;
  align-items: last baseline;
}
.imgz .photo4 {
  background-image: url("../images/landing/project 4.jpg");
  width: 55%;
  height: 25vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid brown;
  display: flex;
  align-items: last baseline;
  padding: 20px;
}
.imgz .photo5 {
  background-image: url("../images/landing/project 5.jpg");
  width: 55%;
  height: 25vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid brown;
  display: flex;
  align-items: last baseline;
  padding: 20px;
}
.imgz .photo6 {
  background-image: url("../images/landing/project 6.jpg");
  width: 55%;
  height: 25vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid brown;
  display: flex;
  align-items: last baseline;
  padding: 20px;
}

.donate .background {
  height: 80hv;
  background-image: url("../images/landing/donate.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.donate .background .overlay {
  height: 100;
  width: 100%;
  padding: 100px;
}
.donate .background .overlay .row .btr {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.donate .background h3 {
  color: white;
  padding-bottom: 70px;
}
.donate .background form input {
  height: 100%;
  width: 100%;
  background-color: transparent;
  padding: 10px 40px;
  border: 2px solid white;
  color: #fff;
}
.donate .background button {
  background: brown;
  color: white;
  padding: 10px 20px;
  border: none;
}

.chiko {
  margin-top: 3%;
  background: white;
  border: 2px solid brown;
  text-align: center;
  justify-content: center;
}
.chiko p {
  margin: 5%;
}

#footer {
  height: 50vh;
  background: brown;
  padding: 10px 80px;
  margin-top: 2rem;
  color: white;
}
#footer .container {
  justify-content: center;
  align-items: center;
  display: flex;
}
#footer .container .row {
  display: flex;
}
#footer .container .row .left .sentence {
  width: 70%;
}
#footer .container .row .left .sentence p {
  color: grey;
}
#footer .container .row .left .text {
  display: flex;
  font-weight: 600;
  gap: 10px;
}
#footer .container .row .left .text .bots-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#footer .container .row .left .text .bots {
  margin-top: -10px;
  color: white;
  height: 15px;
  width: 15px;
  border-color: black;
  border: 5px solid white;
  border-radius: 50%;
}
#footer .container .row .left .text .bots p {
  bottom: 100px;
}

.footer {
  background-color: brown;
  padding: 30px;
  color: white;
  margin-top: 30px;
}
.footer .vashiko {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer .vashiko .circle {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer .vashiko .circle .first {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer .vashiko .circle .first .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  border: 3px white solid;
}
.footer .chido {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .chido ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer .mhere {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .mhere span {
  text-decoration: underline;
}
.footer .mhere .images {
  display: flex;
  gap: 10px;
}
.footer .mhere .images img {
  width: 8rem;
  height: 6rem;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  #banner {
    height: 80vh;
    background-position: -270px;
  }
  #why .container .row .left img {
    width: 100%;
    height: 30vh;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #banner {
    height: 100vh;
    background-image: url("../images/landing/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-position-x: 0;
  }
  #banner .mobile-nav {
    display: none;
  }
  #banner .container {
    width: 100%;
    height: 15vh;
    align-content: center;
  }
  #banner .container .pc-nav {
    display: block;
    display: flex;
    background: white;
    height: -moz-fit-content;
    height: fit-content;
  }
  #banner .container .pc-nav .nav-icons {
    width: 3rem;
    height: 3rem;
    background: brown;
  }
  #banner .container .pc-nav .center {
    width: 80%;
  }
  #banner .container .pc-nav .center ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #banner .container .pc-nav .center ul a {
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: brown;
  }
  #banner .container .pc-nav .center ul a img {
    height: 2rem;
  }
  #why .container .row .left img {
    height: auto;
  }
  #why .container .row .left .whyCards {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: -2rem;
  }
  #why .container .row .left .whyCards .card {
    width: 9rem;
    height: 8rem;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #why .container .row .left .whyCards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: -2rem;
  }
  #why .container .row .left .whyCards .card {
    width: 12rem;
    height: 8rem;
  }
}
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
/* Set width to make card deck cards 100% width *//*# sourceMappingURL=style.css.map */